max_stale = "2m"
wait = "30s:60s"

deduplicate {
  enabled = true
  prefix = "service/consul-template/dedup/"
}

template {
  source = "/root/get_certificates.sh.template"
  destination = "/root/get_certificates.sh"
  perms = 0700
}

exec {
  command = "/root/get_certificates.sh"
  splay = "60s"
}
